.thumbsup{
  color:orange;
}
.thumbsdown{
  color: orange;
}

.card-quotes{
  border-radius: 5px;
}
.title{
  color:skyblue;
  font-family: italic;
}
.welcome{
  text-transform: titlecase;
  color: skyblue;
  font-family: italic;
}
.delete{
  color: orange;
}
