.thumbsup{
  color:orange;
}
.thumbsdown{
  color: orange;
}
.container{
  font-family: italic;
}
.card-quotes{
  border-radius: 5px;
}
.title{
  color:skyblue;
  font-family: italic;
}
.welcome{
  text-transform: titlecase;
  color: skyblue;
  font-family: italic;
}
.delete{
  color: orange;

}
.daystogo{
  color:wheat;
  font-size: 16px;
}
.form-title{
  color: skyblue;
  text-transform:titlecase

}
.author{
  color: wheat;
  font-size: 14px;
}
.submit-quote{
  font-weight: bolder;
  color: skyblue;
  font-size: 20px;
  text-transform: uppercase;
}
.quotes{
  font-size:20px;
}
