<div class="container-fluid mt-5">
  <div class="card bg-dark text-white">
    <div class="card-title">
        <h4 class="text-center text-titlecase mt-3">Add a Quote</h4>
        <hr>
    </div>
    <div class="card-body">
      <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
        <div class="form-group">
          <label>Quote</label>
          <textarea class="form-control" id="quote"  [(ngModel)] = "newQuotes.quote" required name="quote" #name='ngModel' rows="5" cols="50"></textarea>
          <div class="alert alert-danger" [hidden]=name.valid||name.pristine>
            <p>Add a quote</p>
          </div>
        </div>
        <!-- <div class="form-group">
          <label>Date</label>
          <input type="date" name="date" class="form-control" id="date">
        </div> -->
        <div class="form-group">
          <label>Author</label>
          <input type="text" name="author" class="form-control" id="author" [(ngModel)] = "newQuotes.author" #name='ngModel' required>
          <div class="alert alert-danger" [hidden]=name.valid||name.pristine>
            <p>Author required</p>
          </div>
        </div>
        <button type="submit" class="btn btn-info w-100" name="button">Add Quote</button>
      </form>
    </div>
  </div>
</div>
