<div class="container-fluid mt-5">
  <div class="card bg-dark text-white">
    <div class="card-title">
        <h4 class="text-center text-titlecase mt-5 form-title">Add a Quote</h4>
        <hr>
    </div>
    <div class="card-body">
      <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
        <div class="form-group">
          <label>Quote</label>
          <textarea class="form-control" id="quote"  [(ngModel)] = "newQuotes.quote" required name="quote" #quote='ngModel' rows="5" cols="50"></textarea>
          <div class="alert alert-danger" [hidden]="quote.valid||quote.pristine">
            <p>Add a quote</p>
          </div>
        </div>

        <div class="form-group">
          <label>Author</label>
          <input type="text" name="author" class="form-control" id="author" [(ngModel)] = "newQuotes.author" #author='ngModel' required>
          <div  [hidden]="author.valid||author.pristine" class="alert alert-danger">
            <p>Author required</p>
          </div>
        </div>
        <button type="submit" class="btn btn-warning  w-100 submit-quote" name="button">Add Quote</button>
      </form>
    </div>
  </div>
</div>
